{% extends 'tvshows/base.html' %}

{% block title %} List of Tv shows {% endblock %}
{% block mainSectionHeader %} <h1 id="tvShowsTitle">List of Tv shows</h1> {% endblock %}
    {% block mainSectionContent %} Find new amazing show to watch today or check more to read about new episodes. {% endblock %}
{% block content %}
<br/>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% if tvShowsList %}
    {% for tvShow in tvShowsList %}
      <div class="col-sm-5 col-lg-3">
        <div class="card h-100">
          <img src="{{ tvShow.poster }}" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ tvShow.title }}</h5>
            <p>({{ tvShow.genre }}, {{ tvShow.productionCountry }})</p>
            <p class="card-text">{{ tvShow.description }}</p>
            <a href="{% url 'tvshows:details' tvShow.id %}" class="w-100 mt-auto btn btn-red btn-md" >Show more</a><br>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p>Sorry, it seems that database is empty.</p>
{% endif %}
</div>

{% endblock %}