{% extends 'tvshows/base.html' %}

{% block title %} {{ tvShow.title }} - information{% endblock %}
{% block mainSectionHeader %} <h1> Add or edit a <span id="tvShowTitleInDetails"> season </span> series
</h1> {% endblock %}
{% block mainSectionContent %}  {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="padding-top: 1em ">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% include 'tvshows/form-template.html' %}
                        <div>
                            <div class="mb3 d-flex justify-content-center w-100">
                                <button type="submit" class="btn btn-primary w-75">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}